
body, html{
	height: 100%;
}
body *{
	font-weight: 200;
}
#header_options{
	text-align:right;
	color:black;
	font-size:17px;
	margin-right:20px;
	margin-top:20px;
	letter-spacing: 0.15em;
	float:right;
	cursor:pointer;
}

#mainmain{
	display: none;
}
h1 span{
	font-size: 50px;
	text-align: center;
}
p{
	text-align: center;
}





.spanish{
	display:none;
}

#price_box{
	max-width:500px;
	border:1px solid #0C1F28;
	height:auto;
	margin:40px auto;
	background-color:white;
	border-radius:5px;
	overflow:hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow:1px 1px rgba(0,0,0,0.01),
    2px 2px rgba(0,0,0,0.03),
    3px 3px rgba(0,0,0,0.025),
    4px 4px rgba(0,0,0,0.02),
    5px 5px rgba(0,0,0,0.015),
    6px 6px rgba(0,0,0,0.01),
    7px 6px rgba(0,0,0,0.01),
    8px 8px rgba(0,0,0,0.01),
    9px 8px rgba(0,0,0,0.01),
    10px 10px rgba(0,0,0,0.01),
    11px 11px rgba(0,0,0,0.01),
    12px 12px rgba(0,0,0,0.01)
}
h1{
	font-size:50px;
	text-align: center;
	text-shadow:1px 1px rgba(0,0,0,0.01),
    2px 2px rgba(0,0,0,0.03),
    3px 3px rgba(0,0,0,0.025),
    4px 4px rgba(0,0,0,0.02),
    5px 5px rgba(0,0,0,0.015),
    6px 6px rgba(0,0,0,0.01),
    7px 6px rgba(0,0,0,0.01),
    8px 8px rgba(0,0,0,0.01),
    9px 8px rgba(0,0,0,0.01),
    10px 10px rgba(0,0,0,0.01),
    11px 11px rgba(0,0,0,0.01),
    12px 12px rgba(0,0,0,0.01)
}

#bilingual{
	border:1px solid transparent;
}	
#prices{
	background-color:#173D50;
}
#prices h1{
	margin-top:70px;
	color:white;
}
#prices h2{
	margin-top:50px;
}

#mainmain{
	max-width:300px;
	margin:auto;	
}	
body{
	overflow-x:hidden;
    font-family: 'Open Sans', sans-serif;
	margin: 0;
 	margin: 0;
}	
header{
	z-index:2;
	top:0;
	left:0;
	position:fixed;
	min-width:100%;
	height:70px;
	border-bottom:1px solid white;
	margin:auto;
	background-color:white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#developing{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom:100px;
	width:900px;
}
#about_me{
	width:100%;
	border:1px solid transparent;
	height:auto;
	background-color:#23103C;
	color:white;
	}
#about_me h1{
	margin-top:50px;
	margin-bottom:50px;
}	
#dream_website{
	width:100%;
	border:1px solid transparent;
	height:auto;
	background-color:#83B4B1;
	text-align:center;
	color:white;
}
#dream_website h1{
	margin-top:60px;
	margin-bottom:50px;
}
#desk{
	display: block;
	max-width: 900px;
	margin-bottom:-1px !important;
	margin: auto;

}
#passion{
	width:100%;
	border:1px solid transparent;
	height:auto;
	background-color:white;
	text-align:center;
}
#passion h1{
	margin-top:50px;
	margin-bottom:50px;
}
#aslow{
	color:white;
	width:100%;
	border:1px solid transparent;
	height:auto;
	background-color:#22313F;
	text-align:center;
}
#aslow h1{
	margin-top:50px;
	margin-bottom:50px;
}
#what_i_do{
	width:100%;
	border:1px solid transparent;
	height:auto;
	background-color:white;
	text-align:center;
}
#what_i_do h1{
	margin-top:80px;
	margin-bottom:50px;
}
#whoim{
    /*
	background: -moz-linear-gradient(45deg, #020031 0%, #6d3353 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353));
    background: -webkit-linear-gradient(45deg, #020031 0%,#6d3353 100%);
    background: -o-linear-gradient(45deg, #020031 0%,#6d3353 100%);
    background: -ms-linear-gradient(45deg, #020031 0%,#6d3353 100%);
    background: linear-gradient(45deg, #020031 0%,#6d3353 100%);
	height:490px;
	*/

	/* The image used */
    background-image: url("images/purple_space.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	width:101%;
	border:1px solid transparent;
	
	margin-top:70px;
	margin-left:-1px;
}
#languages h1{
	margin-top:80px;
}

#languagesimg{
	display: block;
	margin: auto;
	max-width: 700px;
	margin-top:50px;
	margin-bottom:80px;
}

#mobile_friendly{
	background-color:#95A3A3;
	border:1px solid transparent;
	width:100%;
	height: auto;
	overflow:hidden;
}
#mobile_friendly h1{
	margin-top:80px;
	margin-bottom: 50px;
	color:black;
}
#mobilefriendlyimg{
	margin-top:50px;
	margin-bottom:-1px !important;
	max-width:100%;
	display: block;
	margin: auto;
}
a {color:black; background-color:transparent; text-decoration:none}
a:link    {color:black; background-color:transparent; text-decoration:none}
a:visited {color:black; background-color:transparent; text-decoration:none}
a:hover   {color:black; background-color:transparent; text-decoration:none}
a:active  {color:black; background-color:transparent; text-decoration:none}

#menu_mobile{
	display:none;
}
#menu_mobile_close{
    display:none;
    font-size:27px;
	margin-left:20px;
	margin-top:-50px;
}
#krakenimg{
	display: block;
	max-width:200px;
	color:white;
	float:left;
	margin-top:10px;
	font-size:40px;
	margin-left:20px;	
	}

@media only screen and (max-width: 1000px) {
	#developing{
		width:90% !important;
	}
	#desk{
		width:100% !important;
	}

}
@media only screen and (max-width: 900px) {
	#languagesimg{
		width:90% !important;
	}

}
 
@media only screen and (max-width: 800px) {

	#menu_mobile{
	display:block;
	text-align: left;
	margin-top:-53px;
	font-size: 27px;
	margin-left:20px;
}


nav{
	width: 100%;
	height: 100%;
	border:1px solid white;
	background-color: white;
	margin: auto;
	position: fixed;
    display:none;
    cursor: pointer;
    z-index:1;
}


nav ul li{
    list-style: none;
    font-size: 30px;
    margin-top: 40px;
    margin-left: -20px;
}
nav ul li:hover{
    text-decoration: underline;
}

nav{
	display: none;
}


	#header_options{
	display:none;
	float:right;
	font-size:30px;
	margin-top:-55px;
	margin-right:10px;
	}
	#krakenimg{
	float:none !important;
	margin:10px auto;
	}
}

@media only screen and (max-width: 370px) {
	#contact h4{
		font-size: 14px;
	}
}