body {
    overflow-x: hidden;
}

#mainDiv {
    height: auto;
    margin-bottom: 0px;
}

#nav_logo {
    margin-top: -15px;
    margin-left: 10px;
    margin-right: 10px;
    width: 240px;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
    padding-top: 13px;
    height: 80px;
}

.navbar-nav {
    float: unset;
    margin: auto;
    display: block;
    width: 1410px;
    padding-left: 152px;
    padding-top: 0px;
}

.reservaciones_nav_btn {
    margin-top: 7px;
    background-color: transparent;
    border-color: white;
}

.reservaciones_nav_btn:active,
.reservaciones_nav_btn:hover,
.reservaciones_nav_btn:focus,
.reservaciones_nav_btn:visited {
    background-color: transparent;
    border-color: white;
}

.container-fluid {
    padding-right: unset;
    padding-left: unset;
    border-bottom: 1px solid transparent;
    margin-bottom: -20px;
}

.home-hero__video {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

.homepage_main_img_mobile {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
}

#homepage_habitaciones {
    height: 700px;
    padding-top: 50px;
}

#servicios {
    background-color: #f1f1f1;
    padding-top: 50px;
}

.servicios_row {
    max-width: 1000px;
    border: 1px solid transparent;
    height: 300px;
    margin: 0px auto;
}

.servicios_options {
    width: 300px;
    border: 1px solid transparent;
    height: 280px;
    margin: 15px;
    float: left;
}

.servicios_options_div_img {
    border: 1px solid transparent;
    width: 90px;
    height: 90px;
    margin: auto;
}

.servicios_options_img {
    width: 60px;
    display: block;
    margin: auto;
}

.servicios_options_div_text {
    padding: 10px;
}

.booking_tool {
    display: none;
    width: 100%;
    margin: auto;
    bottom: 0;
    position: fixed;
    background-color: white;
    padding: 10px;
    z-index: 1;
    -moz-box-shadow: 0 0 10px 0px #888;
    -webkit-box-shadow: 0 0 10px 0px#888;
    box-shadow: 0 0 10px 0px #888;
}

.socialMedia {
    width: 300px;
    border: 1px solid transparent;
    margin: 19px auto;
}

.socialMedia li {
    display: inline;
    margin-left: 20px;
}

.socialMedia li a {
    color: #6d6e71;
}

.socialMedia li a:hover {
    color: #c8543b;
}

/* Carousel */
.carousel-control {
    opacity: unset;
    left: -30px;
    width: 0%;
    color: black;
}
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    margin-right: -40px;
}
.carousel-control:hover {
    color: black;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: 0.5;
}
.carousel-control:focus {
    color: black;
}
.carousel-inner .item.left.active {
    transform: translateX(-33%);
}
.carousel-inner .item.right.active {
    transform: translateX(33%);
}
.carousel-inner .item.next {
    transform: translateX(33%);
}
.carousel-inner .item.prev {
    transform: translateX(-33%);
}
.carousel-inner .item.right,
.carousel-inner .item.left {
    transform: translateX(0);
}
.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.btn-ver-habitacion {
    background-color: #222;
    color: white;
    margin: auto;
}

.btn-ver-habitacion:hover {
    background-color: #222;
    color: white;
    margin: auto;
}

/* Nav Desktop */
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #9d9d9d;
}
.navbar-inverse {
    background-color: #000000;
}

/* INVENTORY */
.carsDiv {
    max-width: 95%;
    margin: 20px auto;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-bottom: 25px;
}
.carsDiv img {
    width: 100%;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.carsDiv .carModel {
    font-size: 20px;
}
.carsDiv .monthlyPrice {
    font-size: 30px;
    font-weight: 100 !important;
}
.carsDiv button {
    margin: auto;
    width: 90%;
    background-color: black;
    color: white;
}
.carsDiv button:hover {
    background-color: #333;
    color: white;
}
.carsDiv button:focus {
    background-color: black;
    color: white;
}
.carsDiv:hover img {
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.page_main_header {
    max-width: 1100px;
    margin: auto;
    margin-top: 135px;
}

/* Mobile View */

@media only screen and (max-width: 768px) {
    .navbar-nav {
        width: 95%;
        margin-bottom: 15px;
    }

    /* Nav Mobile */
    .navbar-inverse .navbar-nav > li > a {
        color: white;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: white;
    }

    .navbar-brand {
        width: 100%;
        float: unset;
    }

    #nav_logo {
        margin-left: unset !important;
        margin-right: unset !important;
        width: 185px !important;
        display: block !important;
        margin: auto !important;
    }

    .navbar-toggle {
        margin-top: 25px;
        margin-right: 35px;
    }

    .servicios_options {
        width: 100%;
        margin: unset;
    }

    .habitaciones_main_div_img {
        width: 100%;
    }
}

.skinny_font {
    font-weight: 200 !important;
    letter-spacing: 2px !important;
}
